.credit-card-modal {
    animation: fadeIn 0.5s forwards;
    left: 430px;
    font-family: "Nova Mono", Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateX(100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .credit-card-form {
    background-color: transparent;
    padding: 20px;
    border-radius: 10px;
    color: #122c6f;
    width: 100%;
  }
  
  .credit-card-form .form-group {
    margin-bottom: 15px;
  }
  
  .credit-card-form .form-control {
    background-color: transparent;
    color: black;
    border: 1px solid #1e90ff;
    border-radius: 4px;
    padding: 10px;
  }
  
  .submit-btn {
    background-color: black;
    border: none;
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    color: white;
  }
  
  .submit-btn:hover {
    background-color: #122c6f;
  }
  