.auction-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  height: 100vh;
  box-sizing: border-box;
  animation: fadeIn 1s ease-in;
  font-family: "Nova Mono", Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  color: #122c6f;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.top-bidder {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  animation: slideIn 1s ease-in-out;
  color: #007bff;
}

@keyframes slideIn {
  from { transform: translateY(-20px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}

.auction-timer {
  font-size: 1.7rem;
  margin-bottom: 20px;
  animation: pulse 1s infinite;
  color: black;
  font-weight: 700;

}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.05); }
  100% { transform: scale(1); }
}

.auction-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  height: calc(100vh - 100px); /* Adjust based on header/footer height if any */
  box-sizing: border-box;
  overflow: hidden;
  transition: flex-direction 0.3s ease-in-out;
  color: rgb(40, 30, 30);
}

@media (min-width: 768px) {
  .auction-content {
    flex-direction: row;
  }
}

.auction-details {
  flex: 1;
  padding: 20px;
  border-right: 1px solid #ccc;
  overflow-y: auto;
  margin-top: 8px;
}

.book-detail-left {
  display: flex;
  flex-direction: row;
}

.book-detail-thumbnails {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.thumbnail-image {
  width: 80px;
  height: 120px;
  object-fit: cover;
  margin: 5px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.thumbnail-image:hover {
  transform: scale(1.05);
}

.thumbnail-video {
  width: 80px;
  height: 120px;
  margin: 5px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.thumbnail-video:hover {
  transform: scale(1.05);
}


.main-image, .main-video {
  width: 100%;
  max-height: 500px;
  object-fit: cover;
  margin: 0px;
  border: 1px solid #ddd;
}

.bidding-box {
  position: relative;
  flex: 1;
  padding: 20px;
  border-left: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.chat-box {
  flex: 1;
  overflow-y: auto;
  padding-right: 90px;
  color: black;
  font-weight: 600;
}

.bid-message {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.bid-message.user {
  background-color: #122c6f55;
}

.bid-message.other {
  background-color: #007bff67;
}

.profile-header {
  position: absolute;
  display: flex;
  align-items: center;
  right: 20px;
}

.profile-pic-auction {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  margin-bottom: 0px;
}

.user-info {
  display: flex;
  flex-direction: row;
}

.user-name {
  font-weight: bold;
}

.message-time {
  font-size: 0.9rem;
  color: #777;
}

.message-content {
  margin-top: 5px;
  right: 100px;
}

.message-form {
  display: flex;
  flex-direction: column;
}

.message-form input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.message-form button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.message-form button:hover {
  background-color: #0056b3;
}

.error-message {
  color: red;
  font-weight: bold;
  margin-top: 10px;
}
